<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'Estudiantes' %}">Estudiantes</a>
        <a class="navbar-brand" href="{% url 'Profesores' %}">Profesores</a>
        <a class="navbar-brand" href="{% url 'Cursos' %}">Cursos</a>
        <a class="navbar-brand" href="{% url 'Entregables' %}">Entegables</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>